* {
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
  color: #0E1B8F;
}

body {
  margin:0;
  padding: 1rem;
  display: block;
}

.container {
  max-height: 100vw;
}

h1 {
  text-align: center;
}

.currentInstructions {
  text-align: center;
}

.targets {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  align-items: center;
}

.target {
  width: 30rem;
  max-width: 80%;
  border: 1px solid #0E1B8F; ;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.target p {
  font-size: 1.3rem;
}

#instruction {
  text-align: center;
  margin-top: 3rem;
  font-size: 2rem;
}

#generateInstruction {
  background: #fff;
  border: 1px solid #0E1B8F;
  border-radius: 5px;
  font-size: 1.5rem;
  height: 3rem;
  width: 30rem;
  max-width: 80%;
  margin: auto;
  display: block;
  text-transform: uppercase;
}

#generateInstruction:hover {
  cursor: pointer;
  background-color: #0E1B8F;
  color: #fff;
  transition: color ease-in-out 0.3s, background-color ease-in-out 0.3s;
}

label {
  border-top: solid 1px #0E1B8F;
  padding-top: 0.5rem;
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30rem;
  max-width: 80%;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

a {
  margin-top: 3rem;
  text-align: center;
  display: block;
}

#openInstruction, #openSettings {
  background-color: #0E1B8F;
  color: #fff;
  margin: 0;
  padding: 1rem;
  z-index: 1;
  position: fixed;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  text-align: center;
  bottom: 3rem;
}

#openInstruction:hover, #openSettings:hover {
  cursor: pointer;
}

#openSettings {
  left: 5rem;
}

#openSettings i {
  color:#fff;
}

#instructionsModal, #settingsModal {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.4);
}

.modalInstructions, .settings {
  background-color: #0E1B8F;
  width: 90%;
  height: 90%;
  margin: auto;
  margin-top: 5%;
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#settingsModal {
  /* display: none; */
}

.modalInstructionsText {
  margin:0;
  color: #fff;
}

.closeModal {
  background: #0E1B8F;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 5px;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.closeModal:hover {
  cursor: pointer;
  background-color: #fff;
  color: #0E1B8F;
  transition: color ease-in-out 0.2s, background-color ease-in-out 0.2s;
}

h2 {
  color: #fff;
  margin: 0;
}

label, label p, label span {
  color: #fff;
  margin: 0;
}



